{% extends "base.html.twig" %}


{% block stylesheets %}

    {{ parent() }}

    <style>

        .card{
            margin-top :20px;
            padding : 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">

        <div class="card">

            <h1>Page d'accueil de l'import des donnés de Prévu</h1>

            <p>Voir la page <a href="{{ path('import_stats') }}">stats</a>.</p>

            <hr>

            <ul>
                <li>Import d'une bibliothèque : <a href="{{ path('import_library_up8') }}">up8</a>, <a href="{{ path('import_library_rbx') }}">rbx</a>


                <li>Import des extras (ccodes, langues, pays, etc.) : <a href="{{ path('import_extra', {'biblio' : 'up8'}) }}">up8</a>, <a href="{{ path('import_extra', {'biblio' : 'rbx'}) }}">rbx</a></li>

                <li>Import des notices et des auteurs par bibliothèque : <a href="{{ path('import_books', {'biblio' : 'up8'}) }}" onclick="return confirm('Are you sure?');">up8</a>,
                    <a href="{{ path('import_books', {'biblio' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">rbx</a>, <a href="{{ path('delete_books') }}" onclick="return confirm('Are you sure?');">delete all</a></li></li>
                

                <li>Import des emprunteurs : <a href="">up8</a>, <a href="">rbx</a></li>

                <li>Import des prêts par bibliothèque</li>


            </ul>
        </div>

    </section>

{% endblock %}
